<div class="text-field">
  &nbsp<%= form.label :email %>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
  <%= form.text_field :email, type: 'email' %>
</div>
<br>
<div class="password-field">
  <%= form.label :password %>
  <%= form.password_field :password %>
</div>
